.theme-day{
    background-color: #fff;
}
.theme-day .menu{
    margin-right: 20px;
}
.theme-day h1{
    color: #000;
}

.theme-day h2{
    color: #3e06c1;
}

.theme-night{
    background-color: #676666;
}

.theme-night h1, h2{
    color: #fff;
}

.theme-night .menu{
    margin-right: 20px;
}